<div class="row">
	<div class="col-md-12">
		<h1>Lists</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h3>Add new list</h3>
	</div>
</div>

<div class="row">
		<form class="form_add_list">
			<div class="col-xs-8 col-md-6">
	  			<input type="text" ng-model="listName" class="form-control" placeholder="Type list name here">
			</div>
  			<button class="btn btn-success col-xs-3 col-lg-2 col-md-2" ng-click="addList()">Add</button>
		</form>
</div>


<div class="container">
	<div class="row">
		<h3>Existing lists</h3>
		<div class="col-md-8">
			<table  class="table">
				<tr class="list" ng-repeat="list in listList | orderBy:'name' | filter:search">
					<td class="col-md-10 td_class">
						<a href="#/showlist/{{list.id}}">{{list.name}}</a>
					</td>
					<td class="col-md-2 td_class text-right">
						<a href="" ng-click="removeList(list.id)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
